@model IEnumerable<WebApp.Models.Member>

@{
    ViewBag.Title = "MemberList";
    ViewBag.Active = "ml";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@section scripts {
    <script src="~/Scripts/Admin/member-list.js"></script>
}

<style>
    .true {
        color: #A3BE8C;
    }

    .false {
        color: #BF616A;
    }
</style>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">會員清單</li>
    </ol>
</nav>
<hr />
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <input id="query" class="form-control" type="text" name="query" value="" placeholder="搜尋會員" onkeyup="searchMember()" />
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">使用者名稱</th>
            <th scope="col">電子信箱</th>
            <th scope="col">會員狀態</th>
            <th scope="col">創建時間</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;

            foreach (var item in Model)
            {
                <tr class="data-row">
                    <th>@(i++)</th>
                    <td><a class="username" href="/admin/editMember/@item.Id">@item.Username</a></td>
                    <td class="email">@item.Email</td>

                    @if (item.Suspended)
                    {
                        <td class="false"><i class="fas fa-exclamation-triangle"></i> 已停權</td>
                    }
                    else if (item.Verified)
                    {
                        <td class="true"><i class="far fa-check-circle"></i> 已驗證</td>
                    }
                    else
                    {
                        <td class="false"><i class="far fa-times-circle"></i> 未驗證</td>
                    }

                    <td>@item.CreatedDate</td>
                    <td class="text-right">
                        <div class="dropdown show">
                            <i class="fas fa-ellipsis-h fa-lg text-secondary cursor-pointer dropdown" data-toggle="dropdown"></i>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/admin/editMember/@item.Id">詳細資料</a>
                                @if (item.Suspended)
                                {
                                    <div class="dropdown-item text-danger cursor-pointer" onclick="unsuspendMember(@item.Id, false)">解除停權</div>
                                }
                                else
                                {
                                    <div class="dropdown-item text-danger cursor-pointer" onclick="suspendMember(@item.Id)">停權會員</div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
