@model WebApp.Models.ViewModels.ItemListViewModel

@{
    ViewBag.Title = "List";
}

@section scripts {
    <script>var id = @ViewBag.ProductId</script>
    <script src="~/Scripts/ItemList/image-list.js"></script>
    <script src="~/Scripts/ItemList/load-comment.js"></script>
    <script src="~/Scripts/ItemList/track-item.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="~/Scripts/ItemList/price-chart.js"></script>
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/ItemList/item-list.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ItemList/star-rating.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ItemList/comment.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

<div class="container item-header">
    <div class="row">
        <div class="col-2">
            <img src="@Url.Action("get", "image", new { id = Model.Items.First().Image })" class="image"
                 style="max-width:150px" />
        </div>
        <div class="col">
            <h2 id="title">@($"{ViewBag.Brand} {ViewBag.Model} {ViewBag.Type} ")價格列表</h2>
            <button class="btn btn-danger" onclick="track(@ViewBag.ProductId)">
                <i id="follow" class="fa fa-heart-o follow"> 追蹤</i>
            </button>
        </div>
        <div class="col">
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="nav nav-tabs" id="tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="list-tab" data-toggle="tab" data-target="#list-section" type="button" role="tab" aria-controls="home" aria-selected="true">賣場清單</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="comment-tab" data-toggle="tab" data-target="#comment-section" type="button" role="tab" aria-controls="profile" aria-selected="false" onclick="loadComments(@ViewBag.ProductId)">評論</button>
        </li>
    </ul>
    <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active" id="list-section" role="tabpanel" aria-labelledby="home-tab">
            <div class="row title-bar">
                <div class="col-5 offset-2">
                    賣場標題
                </div>
                <div class="col-1">
                    來源
                </div>
                <div class="col-1">
                    售價
                </div>
                <div class="col-2">
                    更新時間
                </div>
                <div class="col-1">
                    <a href="top"></a>
                </div>
            </div>
            @foreach (var item in Model.Items)
            {
                <div class="row align-items-center">
                    <div class="col-2">
                        <img src="@Url.Action("get", "image", new { id = item.Image })" id="img-@(item.Image)" class="image"
                             style="max-width:150px" onclick="displayImage(@item.Image)" />
                    </div>
                    <div class="col-5">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="col-1">
                        @item.Source1.SourceName
                    </div>
                    <div class="col-1">
                        @Html.DisplayFor(modelItem => item.Price)
                    </div>
                    <div class="col-2">
                        @Html.DisplayFor(modelItem => item.UpdatedTime)
                    </div>
                    <div class="col-1">
                        <a href="@(item.Source1.Domain + item.Link)" class="btn btn-info" target="_blank">前往購買</a>
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="comment-section" role="tabpanel" aria-labelledby="profile-tab">
            <div>
                <div class="container">
                    @using (Html.BeginForm(Model.Comment == null ? "create" : "edit", "comment", FormMethod.Post, new { id = "post-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col">
                                <div class="star-rating">
                                    <div class="star-input">
                                        <input type="radio" name="rating" id="rating-5" value="5" @(Model.Comment?.Rating == 5 ? "checked" : ""))>
                                        <label for="rating-5" class="fa fa-star"> </label>

                                        <input type="radio" name="rating" id="rating-4" value="4" @(Model.Comment?.Rating == 4 ? "checked" : "")>
                                        <label for="rating-4" class="fa fa-star"> </label>

                                        <input type="radio" name="rating" id="rating-3" value="3" @(Model.Comment?.Rating == 3 ? "checked" : "")>
                                        <label for="rating-3" class="fa fa-star"> </label>

                                        <input type="radio" name="rating" id="rating-2" value="2" @(Model.Comment?.Rating == 2 ? "checked" : "")>
                                        <label for="rating-2" class="fa fa-star"> </label>

                                        <input type="radio" name="rating" id="rating-1" value="1" @(Model.Comment?.Rating == 1 ? "checked" : "")>
                                        <label for="rating-1" class="fa fa-star"> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" name="product" class="hidden" value="@ViewBag.ProductId" />
                                <textarea type="text" name="content" id="content-area" class="form-control" placeholder="評論內容，限500字。" onkeyup="updateCount(this)" style="height: 250px">@(Model.Comment?.Content)</textarea>
                                <p class="text-counter"><span id="text-count">@(Model.Comment?.Content.Length)</span>/500</p>
                                @if (Session["userId"] == null)
                                {
                                    <input type="submit" id="btn-post" class="btn btn-info form-control" value="登入後即可發布評論" disabled />
                                }
                                else if (Model.Comment != null)
                                {
                                    <input type="submit" id="btn-post" class="btn btn-info form-control" value="編輯並儲存" />
                                }
                                else
                                {
                                    <input type="submit" id="btn-post" class="btn btn-info form-control" value="發布" />
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div id="comments"></div>

        </div>
    </div>

    <div class="top">
        <a href="#top">&lt;回到最上方&gt;</a>
    </div>
</div>

<div id="image-modal" class="display-modal">
    <span id="close" class="unslectable">&times;</span>
    <img class="modal-content" id="display">
    <div id="caption"></div>
</div>

@Scripts.Render("~/bundles/jquery")
