@model WebApp.Models.ViewModels.ItemListViewModel

@{
    ViewBag.Title = "List";
}

@section scripts {
    <script>
        var id = @ViewBag.ProductId;
        var tab = "@ViewBag.Tab";
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.9/vue.global.min.js"
            integrity="sha512-01DXK8J/RTf+INWJaGSa1a8ePsny+wTV63r5e+qcW4Gx7cgYKeX7uNvJminP4WvBthCi03aWdTmGLcZk/DTKKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="~/Scripts/ItemList/image-list.js"></script>
    <script src="~/Scripts/ItemList/load-comment.js"></script>
    <script src="~/Scripts/ItemList/load-article.js"></script>
    <script src="~/Scripts/ItemList/track-item.js"></script>
    <script src="~/Scripts/ItemList/price-chart.js"></script>
    <script src="~/Scripts/ItemList/page-init.js"></script>
    <script src="~/Scripts/ItemList/sort-list.js"></script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.9/vue.global.prod.min.js"
            integrity="sha512-pe96gClqJEgPDqobJ8ksfdPtRLU08afWRzJQO08/YSNvSQ5yBNcTWyEV2kViRAUis83JgOKI20jH7FiIwFepcw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->
}

@section css {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ItemList/item-list.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ItemList/star-rating.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/ItemList/comment.css" />
}

<div class="container item-header">
    <div class="row">
        <div class="col-2">
            <img src="@Url.Action("get", "image", new { id = Model.Items.First().Image })" class="image"
                 style="max-width:150px" />
        </div>
        <div class="col">
            <h2 id="title">@($"{ViewBag.Brand} {ViewBag.Model} {ViewBag.Type} ")價格列表</h2>
            <p class="text-muted">更新於 @ViewBag.UpdatedTime</p>
            <button class="btn btn-danger" onclick="track(@ViewBag.ProductId)">
                <i id="follow" class="far fa-heart follow"> 追蹤</i>
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="nav nav-tabs" id="tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="list-tab" data-toggle="tab" data-target="#list-section" type="button" role="tab">賣場清單</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="comment-tab" data-toggle="tab" data-target="#comment-section" type="button" role="tab">評論</button>
        </li>
    </ul>
    <div class="tab-content" id="tabContent">
        <div class="tab-pane fade show active" id="list-section" role="tabpanel">
            <div class="filter d-flex justify-content-end align-items-center p-3 mb-3 rounded-lg" style="background-color: #d8dee9">
                <span class="mx-3">價格範圍：</span>
                <input class="form-control" type="text" name="low" v-model="low" @@change="filter" value="" />
                <span class="mx-3">~</span>
                <input class="form-control" type="text" name="high" v-model="high" @@change="filter" value="" />
            </div>
            <div class="gallery">
                <div class="item" v-for="item in filteredList">
                    <div class="d-flex rounded-lg p-3 mb-3" style="background-color:#eee;">
                        <div class="mr-4">
                            <a :href="item.image" target="_blank">
                                <img :src="item.image" id="img-" class="image"
                                     style="max-width:150px" />
                            </a>
                        </div>
                        <div class="d-flex flex-column justify-content-between" style="flex:1;">
                            <div>
                                <h5 class="mb-0">{{item.title}}</h5>
                                <p class="text-secondary">{{item.source}}</p>
                                <span id="price" class="hidden">{{item.price}}</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">{{item.fprice}}</h5>
                                <a :href="item.url" class="btn btn-info" target="_blank">前往購買 <i class="fa fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="comment-section" role="tabpanel" aria-labelledby="profile-tab">
            <div id="articles">
                <div id="article-template" class="container comment hidden">
                    <div class="row">
                        <div class="col-2 d-flex justify-content-end"><img class="profile-picture" /></div>
                        <div class="col-8 list-group">
                            <div class="row list-group-item comment-header mx-0">
                                <div class="col px-0">
                                    <a class="comment-author" href="#" target="_blank"></a><span class="comment-date"></span>
                                </div>
                                <div class="col comment-btn px-0">
                                    <button class="tool-btn"><i class="fa fa-ellipsis-h"></i></button>
                                </div>
                            </div>
                            <div class="row list-group-item comment-body mx-0">
                                <div class="col comment-content px-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comments">
                <div id="comment-template" class="container comment hidden">
                    <div class="row">
                        <div class="col-2 d-flex justify-content-end"><img class="profile-picture" /></div>
                        <div class="col-8 list-group">
                            <div class="row list-group-item comment-header mx-0">
                                <div class="col px-0">
                                    <span class="comment-author"></span><span class="comment-date"></span>
                                </div>
                                <div class="col-2 comment-stars"></div>
                                <div class="col comment-btn px-0">
                                    <button class="tool-btn"><i class="fa fa-ellipsis-h"></i></button>
                                </div>
                            </div>
                            <div class="row list-group-item comment-body mx-0">
                                <div class="col comment-content px-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                @using (Html.BeginForm(Model.Comment == null ? "create" : "edit", "comment", FormMethod.Post, new { id = "post-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="star-rating">
                                <div class="star-input">
                                    <input type="radio" name="rating" id="rating-5" value="5" required @(Model.Comment?.Rating == 5 ? "checked" : "")>
                                    <label for="rating-5" class="fa fa-star"> </label>

                                    <input type="radio" name="rating" id="rating-4" value="4" @(Model.Comment?.Rating == 4 ? "checked" : "")>
                                    <label for="rating-4" class="fa fa-star"> </label>

                                    <input type="radio" name="rating" id="rating-3" value="3" @(Model.Comment?.Rating == 3 ? "checked" : "")>
                                    <label for="rating-3" class="fa fa-star"> </label>

                                    <input type="radio" name="rating" id="rating-2" value="2" @(Model.Comment?.Rating == 2 ? "checked" : "")>
                                    <label for="rating-2" class="fa fa-star"> </label>

                                    <input type="radio" name="rating" id="rating-1" value="1" @(Model.Comment?.Rating == 1 ? "checked" : "")>
                                    <label for="rating-1" class="fa fa-star"> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <input type="text" name="product" class="hidden" value="@ViewBag.ProductId" />
                            <textarea type="text" name="content" id="content-area" class="form-control" placeholder="評論內容，限500字。" required
                                      onkeyup="updateCount(this)" style="height: 250px" disabled>@(Model.Comment?.Content)</textarea>
                            <p class="text-counter"><span id="text-count">@(Model.Comment?.Content.Length ?? 0)</span>/500</p>
                            @if (Session["userId"] == null)
                            {
                                <input type="submit" id="btn-post" class="btn btn-info form-control" value="登入後即可發布評論" disabled />
                            }
                            else if (Model.Comment != null)
                            {
                                <input type="submit" id="btn-post" class="btn btn-info form-control" value="編輯並儲存" />
                            }
                            else
                            {
                                <input type="submit" id="btn-post" class="btn btn-info form-control" value="發布" />
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="top">
    <a href="#top">&lt;回到最上方&gt;</a>
</div>

<div id="image-modal" class="display-modal">
    <span id="close" class="unslectable">&times;</span>
    <img class="modal-content" id="display">
    <div id="caption"></div>
</div>

@Scripts.Render("~/bundles/jquery")
