@model List<WebApp.Models.Product>

@section css {
    <link href="~/Content/Search/search.css" rel="stylesheet" />
}

<div class="prod-section">
    @{ int count = Model.Count; }
    @if (count > 0)
    {
        <div class="container">
            @for (int i = 0; i < Model.Count();)
            {
                <div class="row">
                    @for (int j = 0; j < 4; j++)
                    {
                        if (i >= count)
                        {
                            break;
                        }

                        var prod = Model[i];
                        <div class="col-3">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="@Url.Action("get", "image", new { id = prod.Selling.First().Image })" alt="">
                                <div class="card-body">
                                    <a class="card-text" href="/item/list/@(prod.Id)">@prod.Brand @prod.Model @prod.ProductType</a>
                                    <p class="card-text text-right">@(prod.Selling.First().Price.ToString("C0"))元起</p>
                                </div>
                            </div>
                        </div>

                        i++;
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col no-result-title">
                    查無結果
                </div>
            </div>
            <div class="row">
                <div class="col no-result-body">
                    請嘗試提供其他關鍵字。
                </div>
            </div>
        </div>

    }
</div>