<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i家電</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Index/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/Index/responsive.css" rel="stylesheet" />

    <!-- global style -->
    <link href="~/Content/global.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Login/login-modal.css" />

    <!-- Site Metas -->
    <link rel="shortcut icon" href="~/images/favicon.png" type="~/image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @RenderSection("css", required: false)
</head>
<body>
    <header class="header_section">
        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center nav-custom">
            <div class="d-flex w-50 mr-auto">
                <a href="/" class="navbar-brand">愛家電</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item active">
                        <form action="/item/search" method="get">
                            <input type="text" name="query" class="form-control" placeholder="搜尋商品" />
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    @if (Session["userId"] == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("註冊", "register", "member", null, new { @class = "navbar-nav nav-link" })
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#login-modal">登入</button>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                您好，@Session["user"]
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">個人資料</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/trackitem/tracklist">追蹤商品</a>
                            </div>
                        </li>
                        <li>
                            <img src="@Url.Action("getPfpById", "member", new { id = Session["userId"] })" class="nav-item" style="max-height:40px;border-radius:50%;margin:0 1em;" alt="" />
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("登出", "logout", "member", null, new { @class = "btn btn-info", style = "color: white;" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class=" footer_section">
        <div class="container">
            <!--
            <p>
            </p>
            -->
        </div>
    </footer>

    <div id="login-modal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content" style="padding: 1em;">
                <div class="modal-body">
                    <div class="header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title form-title">登入</h4>
                    </div>
                    <div>
                        <form id="login-form" action="/Account/LoginAjax" method="post">
                            <div class="form-group">
                                <label for="username" class="form-text">帳號</label>
                                <input type="text" name="username" id="username" class="form-control input m-input">
                            </div>
                            <div class="form-group">
                                <label for="psw" class="form-text">密碼</label>
                                <input type="password" id="passwd" name="passwd" class="form-control input m-input">
                            </div>
                            <input type="submit" id="submit" class="btn btn-info modal-btn form-control" value="登入">
                        </form>
                    </div>
                    <div class="msg-div">
                        <span id="err-msg" class="hide" style="color: red"></span>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col" style="padding:0">
                                <span>不是會員? <a href="/member/register">註冊</a></span>
                            </div>
                            <div class="col text-right" style="padding:0">
                                <a href="/forgetpassword/forgetpassword" style="display:inline-block">忘記密碼</a>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/Login/login-modal.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>